parameters:
    level: 7
    paths:
        - lib
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-9.6-0/vendor/autoload.php

    ignoreErrors:
        # because the test is skipped
        -
            message: '#Unreachable statement#'
            path: %currentWorkingDirectory%/tests/Api/TopicTest.php
        -
            message: '#Unreachable statement#'
            path: %currentWorkingDirectory%/tests/Api/ImageTest.php

        -
          identifier: missingType.iterableValue
